
@font-face {
  font-family: 'Adamcg';
  src: url('/fonts/adamcg/ADAM.CG PRO.otf');  
  
}
@font-face{
  font-family: 'DinLight';
  src: url('/fonts/dinlight/DIN-Light.otf');
}

html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
/* =========== SCROLL BAR ===========*/
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #3E3D3F; /*#76CBC1*/
  border-radius: 10px;
}

/* ::-webkit-input-placeholder {
  color:red;
}

::-moz-placeholder {
  color:red;
}

::-ms-placeholder {
  color:red;
} */

::placeholder {
  color:red;
}

/* =========== NAVIGATION BAR =========== */
.navbar{
  background-color: #3E3D3F;
}

li{
  font-family: 'DinLight', sans-serif;
  list-style: none;
}

.nav-link span {
  font-family: 'Adamcg',sans-serif;
  font-size: 13px;
  transition: 0.3s ease;
}

/* ============ Main Contact Us /Projects =========== */
.img-hero {
  padding-top: 0px;
  align-items: center;
}
.page-title {
  font-size:6vw;
  color: #76cbc1;
  font-weight: bold;
  letter-spacing: 8px;
  padding: 0 1rem;
  margin: 0;
  transform: translateY(-8rem);
  margin-bottom: -2rem;
}

.page-desc-black{
  font-family: 'DinBold', sans-serif;
  font-size:35px;
  color:black;
  font-weight: bolder;
}

.page-desc-black-sm{
  font-family: 'DinBold', sans-serif;
  font-size:22px;
  color:black;
  font-weight: bold;
}

.page-desc-turquoise{
  font-family: 'DinBold', sans-serif;
  font-size:35px;
  color: #76cbc1;
  font-weight: bolder;
}

.page-desc-turquoise-sm{
  font-family: 'DinBold', sans-serif;
  font-size:22px;
  color: #76cbc1;
  font-weight: bold;
}

.page-center {
  border: 0px;
  display: flex;
  justify-content: center;
  width: 25%;
  vertical-align: middle;
  align-items: center;
  }

.page-desc_border-bottom{
  border-bottom: 3px solid #76CBC1;
}

.page-desc-across{
  font-size:30px;
  font-family: 'DinLight', sans-serif;
  color: white;
  font-weight: bold;
}

.faq-body {
  font-family: 'DinLight', sans-serif;
  color: white;
  background-color: rgb(85, 83, 83);
}

.dinlight-black {
  font-family: 'DinLight', sans-serif;
  color: black;
}

.background-turquoise{
  border: none;
  background-color: #76CBC1;
  height: 120px;
  text-align: center;
  padding: 32px 0;
}

.textarea-contact{
  height: 100%;
}

.contactUs-faq-row {
  background-color: #76CBC1;
  padding-left: 50px;
  padding-right: 50px;
}

.contactUs-vision {
  font-size: 12px;
}

.contactUs-header {
  font-size: 25px;
  color: white;
  font-weight: bold;
  letter-spacing: 3px;
}

.contactUs-input-text{
  height: 50px;
 
}

.contact-label{
  font-size: 14px;
}

.contactUs-icon{
  color: #76CBC1;
}

.google-maps {
  width: 100vw;
  height: 75vh;
  position: relative;
}

.phone-email-home {
  font-family: 'DinBold', sans-serif;
  font-size: 20px;
}

.phone-email-home-desc {
  font-family: 'DinLight',sans-serif;
}

.img-card {
  border: 0px 0px 0px 0px;
  height: 100%;
  align-items: center;
}

.card-title{
  font-family: 'DinRegular', sans-serif;
  color: white;
  height: 50px;
}

.card-text{
  font-family: 'DinLight', sans-serif;
  color: white;
  height: 45px;
}

.card-bg {
  background-color: #5f5e60;
}

.map-black-white{
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
   filter: grayscale(100%);
}
/* ============ Main Contact Us / Projects ========== */


.nav-link span:hover {
  color: #b3adaa;
}
.letterQ{
  font-family: 'Adamcg',sans-serif;
  font-size: 13px;
  color: #fff;
}

.bar{
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
}

@media (max-width:992px) {
  [aria-expanded='true'] .bar:nth-child(2){
    opacity: 0;
  }
  [aria-expanded='true'] .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg)
  }
  [aria-expanded='true'] .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg)
  }

  .nav-item {
    border-bottom: 2px solid #a09e9e;
    padding-left: 50px;
  }
  .mobileLogo {
    border-bottom: 1px solid #a09e9e;
  }
}

/* =========== BODY =========== */
.heroImage {
  background-image: url('../assets/01_Arqon_Home page_01-01.jpg');
  background-size: cover;
  min-height: 100vh;
  align-items: center;
}
.heroImage2 {
  position: relative;
  background-image: url('../assets/01_Arqon_Home page_02.jpg');
  font-family: 'Adamcg', sans-serif;
  font-size: calc(1px + 1.5vw);
  background-size: cover;
  min-height: 100vh;
  color: #3E3D3F;
}
.hero2Text{
  position: absolute;
  border-bottom: 3px solid #fff;
  top: 100px;
}
.vission {
  font-size: calc(3px + 3vw);
  color: #fff;
}
.arqonReels{
  width: 100%;
}
.services {
  padding: 0 50px;
  margin-top: -30px;
}
.archiImage{
  background-image: url('../assets/01_Arqon_Home page_03.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 5px #707070;
  height: 520px;
}

.designBuildImage{
  background-image: url('../assets/01_Arqon_Home page_04.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 5px #707070;
  height: 520px;
}
.modelingImage {
  background-image: url('../assets/01_Arqon_Home page_05.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 5px #707070;
  height: 520px;
}

.offerFooter {
  position: absolute;
  padding: 10px 0px;
  background-color: rgba(66, 66, 60, .8);
  width: 100%;
  font-family: 'DinLight',sans-serif;
  color: #fff;
  bottom: 0px;
  left: 0;
  right: 0;
}

.overlay {
  position: absolute;
  opacity: 0;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
  background-color: rgba(44, 44, 39, 0.5);
  overflow: hidden;
  width: 100%;
  height: 100%;
  transition: .3s ease;
}

.text span{
  font-family: 'DinLight', sans-serif;
  color: #fff;
  font-size: 15px;
  /* position: absolute; */
  top: 100%;
  left: 100%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  /* white-space: center; */
}
.offerFooterOverlay{
  font-family: 'DinLight', sans-serif;
  position: absolute;
  padding: 10px 0px;
  background-color: rgba(255, 255, 255, 1);
  width: 100%;
  font-weight: bold;
  font-family: 'DinLight',sans-serif;
  color: rgb(0, 0, 0);
  bottom: 0px;
  left: 0;
  right: 0;
}

.container:hover .overlay{
  opacity: 1;
}

.whatwedoDesc{
  height: 300px;
  border-top: 1px solid #76CBC1;
}
.whatwedoDesc h1{
  color: #76CBC1;
  margin-top: -30px;
}
.paragraph{
  font-family: 'DinLight',sans-serif;
  font-size: 16px;
  line-height: 35px;
  padding-top: 10px;
}

.btnServies{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  padding: 0px 0;
  width: 50%;
  height: 45px;
  font-family: 'DinLight',sans-serif;
  color: #fff;
  bottom: 0px;
  left: 20px;
  right: 0;
  background-color: #76CBC1;
}
.btnServies button{
  border: none;
  width: 100%;
  height: 100%;
  background-color: #76CBC1;
}

.flexVid {
  background-color: #76CBC1;
}
.bodyPage {
  padding: 70px 100px;
}
.bodyPage .header {
  font-size: 30px;
}
.bodyPage .highlight{
  font-family: 'Adamcg' , sans-serif;
  color: #fff;
  font-size: 40px;
}
.bodyPage span{
  font-family: 'DinLight',sans-serif;
  font-weight: bolder;
}
.sampleProject p,
.bodyPage .sentence{
  font-family: 'DinLight',sans-serif;
  font-size: 20px;
  line-height: 35px;
}

.sampleProject .sampleProjHead{
  font-family: 'Adamcg' , sans-serif;
  color: #76CBC1;
  font-size: 50px;
}

.vResidence {
  background-image: url('../assets/V_Residence.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 5px #707070;
  height: 500px;
}
.vResidenceTagaytay {
  background-image: url('../assets/V_Residence_Tagaytay.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 5px #707070;
  height: 500px;
}
.nResidence {
  background-image: url('../assets/N_Residence.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 5px #707070;
  height: 500px;
}
.sResidence {
  background-image: url('../assets/S_Residence.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 5px #707070;
  height: 500px;
}
.sResidenceLimay {
  background-image: url('../assets/S_Residence_Limay.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 5px #707070;
  height: 500px;
}
.dResidence {
  background-image: url('../assets/D_Residence.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 5px #707070;
  height: 500px;
}
.dResidenceAveia {
  background-image: url('../assets/D_Residence_Aveia.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 5px #707070;
  height: 500px;
}
.gResidence {
  background-image: url('../assets/G_Residence.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 5px #707070;
  height: 500px;
}
.tResidence {
  background-image: url('../assets/T_Residence.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 5px #707070;
  height: 500px;
}
.mResidence {
  background-image: url('../assets/M_Residence_Bulacan.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 5px #707070;
  height: 500px;
}
.santosResidence {
  background-image: url('../assets/Santos_Residence.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 5px #707070;
  height: 500px;
}
.contactUs-img1 {
  background-image: url('../assets/05_Arqon_Contact_Us_01.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 5px #707070;
  height: 500px;
}
.contactUs-img2 {
  background-image: url('../assets/05_Arqon_Contact_Us_02.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 5px #707070;
  height: 500px;
}
.contactUs-img3 {
  background-image: url('../assets/05_Arqon_Contact Us_03.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 5px #707070;
  height: 500px;
}
.contactUs-img4 {
  background-image: url('../assets/05_Arqon_Contact Us_04.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 5px #707070;
  height: 500px;
}
.residenceTitle {
  position: absolute;
  color: #fff;
  width: 100%;
  background-color: rgba(66, 66, 60, .8);
  bottom: 0;
  left: 0;
  right: 0;
}
.residenceTitle .head {
  position: relative;
  font-family: 'Adamcg' , sans-serif;
  font-weight: bold;
  font-size:12px;
  margin-left: 10px;
}
.residenceTitle .address {
  position: absolute;
  font-family: 'DinLight',sans-serif;
  font-size: 10px;
  margin-left: 10px;
}

.projectContainer {
  -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
  
}

.projectContainer:hover {
  -webkit-transform: scale(1.2);
	transform: scale(1.02);
  z-index: 1;
}

.projectsOverlay {
  position: absolute;
  opacity: 0;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
  overflow: hidden;
  width: 100%;
  height: 100%;
  transition: .3s ease;
}

.text{
  color: #fff;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  white-space: center;
}

.footerOverlay {
  position: absolute;
  color: #fff;
  width: 100%;
  background-color: rgba(49, 49, 44, 0.8);
  bottom: 0;
  left: 0;
  right: 0;
}

.projectContainer:hover .projectsOverlay{
  opacity: 1;
}

.footerOverlay{
  position: absolute;
  background-color: rgba(49, 49, 44, 0.8);
  overflow: hidden;
  width: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: .5s ease;
}
.projectContainer:hover .footerOverlay{
  width: 100%;
}

.clientReview {
  border-bottom: 3px solid #76CBC1;
}

.clientReview .header {
  /* font-family: 'Adamcg' , sans-serif; */
  font-weight: 700;
  font-size: 20px;
  color: #76CBC1;
}
.clientName{
  font-family: 'DinBold', sans-serif;
  font-weight: bold;
}
.controls span {
  color: #76CBC1;
}
.slide-comment{
  font-family: 'DinLight',sans-serif;
  margin-top: 15px;
  padding: 0 10px;
  width: 100%;
  height: 250px;
  border-radius: 5px;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
}
.slide-comment::-webkit-scrollbar-track
{
	border-radius: 10px;
	background-color: #F5F5F5;
}

.slide-comment::-webkit-scrollbar
{
	width: 5px;
	background-color: #F5F5F5;
}

.slide-comment::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #F5F5F5;
}
.contact {
  /* background-color: #76CBC1; */
  background: linear-gradient(0deg, #76CBC1 50%, #fff 50%);
}
.contactUsForm {
  width: 100%;
}
.contactUsLine {
  font-weight: bolder;
  font-family: 'Adamcg' , sans-serif;
  text-align: center;
  letter-spacing: 2px;
}
.contactUsLine span {
  color: #fff;
}
/* .headLine {
  border-top: .5px solid #3E3D3F;
  width: 50%;
} */
.arqon {
  background-image: url('../assets/05_Arqon_Contact_Us_01.jpg');
  background-size: cover;
  /* min-height: 100vh; */
  align-items: center;
  height: 900px;
}
.contactUsForm span {
  font-family: 'DinLight',sans-serif;
  background-color: #76CBC1;
}
.contactusHead h1 {
  color: #fff;
}
.contactUsImage  {
  display: flex;
  justify-content: center;
  align-items: center;
}
.textArea{
  height: 250px;
}
.formFields span {
  font-size: 12px;
  color:#df6738;
}
.formFields input {
  height: 25px;
  color: black;
}
.contactSubmitBtn {
  font-family: 'DinLight',sans-serif;
  border: none;
  background-color: #424245;
  color: #fff;
  width: 140px;
  height: 30px;
}

/* ============ Main Our Story ========== */

.hero-text {
  font-family: 'DinBold', sans-serif;
  text-align: left;
  position: absolute;
  top: 70%;
  left: 2%;
  font-size: 4.2vw;
  font-weight: bold;
  letter-spacing: 7px;
  color: #76CBC1;
}

.container-fluid {
  position: relative;
  height: 100%;
}

.hr-story {
  border: 1px solid #76CBC1;
  opacity: 100%;
}

.story-heading {
  font-family: "dinbook", sans-serif;
  color: #424245;
}

.text-story {
  font-family: "dinbook", sans-serif;
  font-size: 22px;
  color: #424245;
  font-weight: lighter;
}

/* Bottom right text */

.text-block {
  position: absolute;
  bottom: 0px;
  right: 0;
  background-color: #C4C4C4E5;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

.text-black {
  font-family: "dinbold", sans-serif;
  font-weight: bolder;
}

.text-turquoise {
  color: #76CBC1;
  font-family: "dinbold", sans-serif;
  font-weight: bolder;
}

.section-1 {
  font-family: 'Dinbook', sans-serif;
  font-size: 22px;
}

.section-2 {
  font-family: 'DinLight', sans-serif;
  background-color: #76CBC1;
}

.text-white {
  font-family: 'Dinbold', sans-serif;
  color: #fff;
  font-size: 25px;
  font-weight: bold;
}


.section-3 {
  font-family: 'DinRegular', sans-serif;
  background-color: #76CBC1;
  text-align: left;
  margin-bottom: 0px;
}

.vertical-box {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 476px;
  transform: rotate(-90deg);
  background-color: #f1f1f1;
  position: relative;
  right: 216px;
  top: 216px;
}

.verticl-text .designation {
  display: block;
  color: #000;
  padding: 10px 30px;
  text-decoration: none;
  text-align: left;
}


/* Change the link color on hover */
.verticl-text .designation:hover {
  background-color: #555;
  color: white;
}

.aprilImg {
  background-image: url('../assets/04_Arqon_Our Story_April.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 5px #707070;
  height: 520px;
}

.mannyImg {
  background-image: url('../assets/04_Arqon_Our Story_Manny.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 5px #707070;
  height: 520px;
}

.chinoImg {
  background-image: url('../assets/04_Arqon_Our Story_Chino.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 5px #707070;
  height: 520px;
}

.paoloImg {
  background-image: url('../assets/Pao 04.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 5px #707070;
  height: 520px;
}

.joshImg {
  background-image: url('../assets/Josh 04.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 5px #707070;
  height: 520px;
}

.koebeeImg {
  background-image: url('../assets/04_Arqon_Our\ Story_Koebee.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 5px #707070;
  height: 520px;
}

.contentBox {
  position: absolute;
  padding: 10px 0px;
  background-color: rgba(66, 66, 60, .8);
  width: 100%;
  font-family: 'DinLight', sans-serif;
  color: #fff;
  bottom: 0px;
  left: 0;
  right: 0;
  text-align: center;
}

.linkedin {
  color: #fff;
  /* background-color: #000;
  position: absolute;
  width: 200px;
  left: 10% */
}

.descriptionOverlay {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(44, 44, 39, 0.5);
  overflow: hidden;
  transition: .3s ease;
}

.descriptionOverlayHrzApril {
  position: absolute;
  top: 100%;
  height: 37%;
  width: 311.5%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  transition: .3s ease;
}

.descriptionOverlayHrzManny {
  position: absolute;
  top: 100%;
  left: -440px;
  height: 37%;
  width: 311.5%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  transition: .3s ease;
}

.descriptionOverlayHrzChino {
  position: absolute;
  top: 100%;
  left: -880px;
  height: 37%;
  width: 311.5%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  transition: .3s ease;
}

.info span {
  font-family: 'DinLight', sans-serif;
  color: white;
  font-size: 12px;
  position: relative;
  top: 50%;
  left: 45%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  width: 50%;
}

.infoHorizontal span {
  font-family: 'DinLight', sans-serif;
  color: white;
  font-size: 15px;
  position: relative;
  top: 50%;
  left: 45%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  width: 50%;
}

.contentBoxOverlay {
  font-family: 'DinLight', sans-serif;
  position: absolute;
  padding: 10px 0px;
  background-color: #76CBC1;
  width: 100%;
  font-weight: bold;
  font-family: 'DinLight', sans-serif;
  color: rgb(0, 0, 0);
  bottom: 0px;
  left: 0;
  right: 0;
  text-align: center;
  transition: .3s ease;
}

.contentboxOverlayHidden {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  overflow: hidden;
  transition: .3s ease;
}

.info {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 45%;
  left: 20%;
  -webkit-transform: translate(-40%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  line-height: 15px;
  width: 80%;
}

.infoHorizontal {
  color: white;
  position: absolute;
  top: 50%;
  left: 7%;
  -webkit-transform: translate(-40%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: left;
  line-height: 20px;
  width: 95%;
  margin-bottom: auto;
}

.aprilMD:hover .descriptionOverlayHrzApril {
  opacity: 1;
}

.mannyBIM:hover .descriptionOverlayHrzManny {
  opacity: 1;
}

.chinoPM:hover .descriptionOverlayHrzChino {
  opacity: 1;
}

.paoEng:hover .descriptionOverlay {
  opacity: 1;
}

.joshArc:hover .descriptionOverlay {
  opacity: 1;
}


.koeAc:hover .descriptionOverlay {
  opacity: 1;
}

.contentboxOverlayHidden:hover {
  opacity: 1;
}




/* =========== FOOTER =========== */
.line {
  display: block;
  width: 100px;
  height: 5px;
  background-color: #76CBC1;
}
.listType{
  font-family: sans-serif;
}
.featuresLink a{
  color: inherit;
  text-decoration: none;
}

.followUs{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  padding: 0px 0px;
  height: 45px;
  font-family: 'DinLight',sans-serif;
  color: #fff;
  bottom: 0px;
  left: 20px;
  right: 0;
  background-color: #76CBC1;
}
.footerButton{
  bottom: 0;
  left: 0;
  right: 0;
}
.footerHeader{
  font-size: 20px;
  padding-bottom: 20px;
  font-family: 'Adamcg' , sans-serif;
  border-bottom: 3px solid #76CBC1;
}

.footerLink {
  font-size: 15px;
  font-family: 'DinLight',sans-serif;
  border: none;
  background-color: #76CBC1;
}
.followText {
  border: none;
  background-color: #76CBC1;
}
.footerDetails li {
  font-size: 15px;
  padding-bottom: 20px;
  border-bottom: 2px solid #76CBC1;
}
.footer ul {
  font-size: 15xp;
  padding: 0;
}
.footerB{
  font-family: 'DinLight',sans-serif;
  width: 100%;
  background-color: #3E3D3F;
  font-size: 15px;
}

.buttonUp{
  border: none;
  background-color: #3E3D3F;
  font-family: 'DinLight',sans-serif;
}
.arrowUp{
  font-family: sans-serif;
  transform: translateY(-1px) rotate(-90deg);
  font-size: 20px;
  cursor: pointer;
}


/* =========== RESPONSIVE ===========  */
@media (max-width: 1400px) {
  .archiImage,
  .designBuildImage,
  .modelingImage{
    height: 350px;
  }
  .contactUsLine span,
  .contactusHead h1 {
    color: #76CBC1;
  }
}
@media(max-width: 1280px){
  .heroImage2,
  .heroImage {
    min-height: 80vh;
  }
  .contactUsForm {
    margin: auto;
    width: 75%;
    }
}
@media(max-width: 1200px){
  .contact {
    /* background-color: #76CBC1; */
    background: linear-gradient(0deg, #76CBC1 79%, #fff 21%);
  }
  .contactusHead h1 {
    color: #fff;
  }
  .contactUsLine span {
    color: #fff;
  }
}
@media (max-width: 1024px){
   .contactusHead h1 {
    color: #fff;
  }
  .contactUsLine span {
    color: #fff;
  }
  .contact {
    /* background-color: #76CBC1; */
    background: linear-gradient(0deg, #76CBC1 77%, #fff 23%);
  }
  .arqon,
  .heroImage,
  .heroImage2 {
    min-height: 60vh;
  }
  .footerLink,
  .footer ul ,
  .hero2Text{
    font-size: calc(1px + 1.5vw);
    border-bottom: 2px solid #fff;
    top: 70px;
  }
  .footerDetails li{
    font-size: calc(1px + 1.5vw);
  }
  .contactusHead h1,
  .footerHeader,
  .sampleProject .sampleProjHead
  .bodyPage .highlight,
  .bodyPage span,
  .vission {
    font-size: calc(3px + 3vw);
  }
  /* .headLine span, */
  /* .paragraph, */
  .bodyPage .sentence{
    line-height: 35px;
    font-size: calc(1.5px + 1.5vw);
  }

  .descriptionOverlayHrzApril {
    top: 0% !important;
    height: 100% !important;
    width: 100% !important;
    background-color: rgba(44, 44, 39, 0.5) !important;
  }

  .descriptionOverlayHrzChino {
    top: 0% !important;
    height: 100% !important;
    width: 100% !important;
    left: 0% !important;
    background-color: rgba(44, 44, 39, 0.5) !important;

  }

  .descriptionOverlayHrzManny {
    top: 0% !important;
    height: 100% !important;
    width: 100% !important;
    left: 0% !important;
    background-color: rgba(44, 44, 39, 0.5) !important;
  }

  .infoHorizontal span {
    font-size: 15px !important;
    top: 50% !important;
    left: 45% !important;
    line-height: 22px !important;
  }

  .infoHorizontal {
    font-size: 20px !important;
    top: 45% !important;
    left: 20% !important;
    text-align: center !important;
    line-height: 15px !important;
    width: 80% !important;
  }

}

@media(max-width: 912px){
  .contact {
    /* background-color: #76CBC1; */
    background: linear-gradient(0deg, #76CBC1 79%, #fff 21%);
  }
  .arqon,
  .heroImage2,
  .heroImage {
    min-height: 30vh;
  }
  .contactUsLine span{
    color: #fff;
  }
}
@media(max-width: 820px){
  .arqon,
  .heroImage2,
  .heroImage {
    min-height: 30vh;
  }
  /* .headLine span, */
  .contactusHead h1,
  .footerHeader,
  .sampleProject h1,
  .sampleProject .sampleProjHead{
    font-size: calc(2px + 3vw);
  }
  /* .headLine span, */
  .footerDetails li,
  .footerLink,
  .footer ul {
    font-size: calc(1px + 2vw);
  }

  .descriptionOverlayHrzApril {
    top: 0% !important;
    height: 100% !important;
    width: 100% !important;
    background-color: rgba(44, 44, 39, 0.5) !important;
  }

  .descriptionOverlayHrzChino,
  .descriptionOverlayHrzManny {
    top: 0% !important;
    height: 100% !important;
    width: 100% !important;
    left: 0% !important;
    background-color: rgba(44, 44, 39, 0.5) !important;

  }
/* 
  .infoHorizontal span {
    font-size: 15px !important;
    top: 50% !important;
    left: 45% !important;
    line-height: 22px !important;
  } */

  .infoHorizontal {
    font-size: 20px !important;
    top: 45% !important;
    left: 20% !important;
    text-align: center !important;
    line-height: 15px !important;
    width: 80% !important;
  }
}
@media (max-width: 425px){
  .arqon,
  .heroImage2,
  .heroImage {
    min-height: 20vh;
  }
  .hero2Text{
    font-size: calc(1px + 1.6vw);
    border-bottom: 1px solid #fff;
    top: 30px;
  }

  .contactusHead h1,
  .bodyPage .highlight{
    font-size: calc(3px + 4.5vw);
  }
  
  .sampleProject .sampleProjHead,
  .bodyPage span,
  .vission {
    font-size: calc(3px + 3vw);
  }
  .vResidence, 
  .nResidence,
  .sResidence,
  .dResidence,
  .gResidence,
  .tResidence,
  .archiImage,
  .designBuildImage,
  .contactUs-img1,
  .contactUs-img2,
  .modelingImage{
    height: 150px;
  }
  /* .headLine span, */
  .footerDetails li,
  .footerLink,
  .footer ul ,
  .footerHeader,
  .sampleProject h1,
  .sampleProject p,
  .bodyPage .sentence,
  .paragraph{
    line-height: 25px;
    font-size: calc(2px + 3vw);
  }
  
  .offerFooter{
    font-size: calc(1.5px + 3vw);
    padding: 1px 0px;
  }
  .bodyPage {
    padding: 20px 50px;
  }
  .residenceTitle {
    padding: 0;
  }

  .residenceTitle .head,
  .residenceTitle .address{
    font-size: calc(1px + 2vw);
  }


  

}