
@font-face {
  font-family: 'Adamcg';
  src: url('/fonts/adamcg/ADAM.CG PRO.otf');  
  font-style: normal;
  font-weight: 400;
}
@font-face{
  font-family: 'DinLight';
  src: url('/fonts/dinlight/DIN-Light.otf');
}

html,
body {
  padding: 0;
  margin: 0;
}

/* a {
  color: inherit;
  text-decoration: none;
} */

* {
  box-sizing: border-box;
}

.navbar{
  font-family: 'Adamcg', sans-serif;
  background-color: #3E3D3F;
}
