
@font-face {
  font-family: 'Adamcg';
  src: url('/fonts/adamcg/ADAM.CG PRO.otf');  
  
}
@font-face{
  font-family: 'DinLight';
  src: url('/fonts/dinlight/DIN-Light.otf');
}

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.navbar{
  background-color: #3E3D3F;
}

li{
  font-family: 'DinLight', sans-serif;
  list-style: none;
}

.nav-link span {
  font-family: 'Adamcg',sans-serif;
  font-size: 13px;
  transition: 0.3s ease;
}

.nav-link span:hover {
  color: #b3adaa;
}
.letterQ{
  font-family: 'Adamcg',sans-serif;
  font-size: 13px;
  color: #fff;
}

.bar{
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
}

@media (max-width:992px) {
  [aria-expanded='true'] .bar:nth-child(2){
    opacity: 0;
  }
  [aria-expanded='true'] .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg)
  }
  [aria-expanded='true'] .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg)
  }

  .nav-item {
    border-bottom: 2px solid #a09e9e;
    padding-left: 50px;
  }
  .mobileLogo {
    border-bottom: 1px solid #a09e9e;
  }
}
.line {
  display: block;
  width: 100px;
  height: 5px;
  background-color: #76CBC1;
}
.listType{
  font-family: sans-serif;
  padding-right:20px ;
}

.footerHeader{
  padding-bottom: 20px;
  font-family: 'Adamcg' , sans-serif;
  border-bottom: 3px solid #76CBC1;
}

.footerLink {
  font-family: 'DinLight',sans-serif;
  border: none;
  background-color: #76CBC1;
}

.contactUs li {
  padding-bottom: 20px;
  border-bottom: 2px solid #76CBC1;
}

.footerB{
  font-family: 'DinLight',sans-serif;
  width: 100%;
  background-color: #3E3D3F;
  font-size: 10px;
}

.buttonUp{
  border: none;
  background-color: #3E3D3F;
  font-family: 'DinLight',sans-serif;
}
.arrowUp{
  font-family: sans-serif;
  transform: translateY(-1px) rotate(-90deg);
  font-size: 20px;
  cursor: pointer;
}